section {
  border: 2px solid silver;
  margin-bottom: 1em;
  padding: 0 1em;
  border-radius: .5em;
}

button {
  margin-right: .5em;
}

.input-label {
  margin-right: 1em;
  font-weight: bold;
}

.candidate {
  margin-bottom: .5em;
}

.bar {
  height: 1em;
  border-radius: .2em;
  border: 1px solid silver;
}